<script lang="ts">
	import { enhance } from '$app/forms';
	import { invalidateAll } from '$app/navigation';
	import { page } from '$app/stores';

	export let data;
</script>

<nav>
	<a href="/">Home</a>
	<a href="/products">Products</a>
	{#if !data.user}
		<a href="/login">Login</a>
	{/if}
</nav>

{#if data.user}
	Logged as {data.user.name}
	<!--Al no estar en la ruta de login el action tiene que indicar la ruta y la acción-->
	<form method="POST" action="/login?/logout&redirectTo={$page.url.pathname}" use:enhance>
		<button type="submit">Logout</button>
	</form>
{/if}

<svelte:head>
	<title>Website name{$page.data.title ? ` - ${$page.data.title}` : ''}</title>
	{#if $page.data.description}
		<meta name="description" content={$page.data.description} />
	{/if}
</svelte:head>

<slot />
