<script lang="ts">
	import { enhance } from '$app/forms';
	import { page } from '$app/stores';
	import type { ActionData } from './$types';

	export let form: ActionData;

	$: console.log('form', form); // accesible solo en /login
	$: console.log('page', $page.form, $page.status); // accesible en cualquier componente
</script>

<form method="POST" action="?/login" use:enhance>
	<label for="username">Username</label><br />
	<input
		type="text"
		name="username"
		id="username"
		placeholder="Username"
		value={form?.username || ''}
	/>
	<br />
	{#if form?.usernameMissing}
		<p style="color: red;">Username is required!</p>
	{/if}
	<br />

	<label for="password">Password</label><br />
	<input type="text" name="password" id="password" placeholder="Password" />

	<br />
	{#if form?.passwordMissing}
		<p style="color: red;">Password is required!</p>
	{/if}
	<br />
	<button type="submit">Submit</button>
</form>
